h1{
    text-align: center;
    border: 2px solid darkmagenta;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
    color: blue;
}
section{
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    margin: 3px;
    background-color: lightseagreen;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
textarea {
    width: 80%;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}

button {
    font-size: 18px;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: darkmagenta;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}

ul#notesList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

ul#notesList li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

ul#notesList li button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: crimson;
    padding: 5px 10px;
    font-size: 14px;
}

ul#notesList li button:hover {
    background-color: darkred;
}
